 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url('images/ssssssssRectangle3.png');
}

.u-section-1 .u-sheet-1 {
  min-height: 793px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-family: Poppins;
  font-weight: 600;
  margin: 249px auto 0;
}

.u-section-1 .u-text-2 {
  font-family: Poppins;
  width: 904px;
  margin: 30px auto 0;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 700;
  font-family: Poppins;
  transition-duration: 0.5s;
  border-style: solid;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  --radius: 8px;
  background-image: none;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 654px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 558px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 166px;
    margin-left: 67px;
    margin-right: 67px;
    width: 720px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 419px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-2 {
    margin-top: 30px;
    margin-left: 0;
    margin-right: 0;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 676px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
}

.u-section-1 .u-btn-1,
.u-section-1 .u-btn-1:before,
.u-section-1 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  border-radius: 8px !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #ffffff !important;
}

.u-section-1 .u-btn-1 {
  border-style: solid !important;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  border-radius: 8px !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #ffffff !important;
}

.u-section-1 .u-btn-1 {
  border-style: solid !important;
}

.u-sheet-1 {
  min-height: 1357px;
}

.u-section-2 {
  background-image: linear-gradient(0deg, rgba(245, 247, 255, 0.6), rgba(245, 247, 255, 0.6)), url(images\DALLE2024-07-2514.53.23-AcleanandprofessionalbackgroundimageforawebsitesectionaboutfinancialinsightswithAI.Thebackgroundshouldfeaturealightpurplegradien.webp);
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  font-style: italic;
  font-weight: 600;
  width: 774px;
  margin: 15px auto 0;
}

.u-section-2 .u-list-1 {
  width: 1060px;
  margin: 51px auto 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 5px));
  min-height: 300px;
  grid-gap: 10px;
}

.u-section-2 .u-container-layout-1 {
  padding: 40px 30px;
}

.u-section-2 .u-group-elements-1 {
  min-height: 128px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

.u-section-2 .u-icon-1 {
  height: 78px;
  width: 78px;
  background-image: none;
  color: rgb(47, 74, 206) !important;
  margin: 0 387px 0 0;
  padding: 18px;
}

.u-section-2 .u-text-3 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.875rem;
  margin: -78px 0 0 138px;
}

.u-section-2 .u-text-4 {
  font-style: italic;
  margin: 15px 0 0 138px;
}

.u-section-2 .u-container-layout-2 {
  padding: 40px 30px;
}

.u-section-2 .u-group-elements-2 {
  min-height: 128px;
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-icon-2 {
  height: 78px;
  width: 78px;
  background-image: none;
  color: rgb(47, 74, 206) !important;
  margin: 0 387px 0 0;
  padding: 18px;
}

.u-section-2 .u-text-5 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.875rem;
  margin: -78px 0 0 138px;
}

.u-section-2 .u-text-6 {
  font-style: italic;
  margin: 15px 0 0 138px;
}

.u-section-2 .u-container-layout-3 {
  padding: 40px 30px;
}

.u-section-2 .u-group-elements-3 {
  min-height: 128px;
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-icon-3 {
  height: 78px;
  width: 78px;
  background-image: none;
  color: rgb(47, 74, 206) !important;
  margin: 0 387px 0 0;
  padding: 18px;
}

.u-section-2 .u-text-7 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.875rem;
  margin: -78px 0 0 138px;
}

.u-section-2 .u-text-8 {
  font-style: italic;
  margin: 15px 0 0 138px;
}

.u-section-2 .u-container-layout-4 {
  padding: 40px 30px;
}

.u-section-2 .u-group-elements-4 {
  min-height: 128px;
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-icon-4 {
  height: 78px;
  width: 78px;
  background-image: none;
  color: rgb(47, 74, 206) !important;
  margin: 0 387px 0 0;
  padding: 18px;
}

.u-section-2 .u-text-9 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.875rem;
  margin: -78px 0 0 138px;
}

.u-section-2 .u-text-10 {
  font-style: italic;
  margin: 15px 0 0 138px;
}

.u-section-2 .u-container-layout-5 {
  padding: 40px 30px;
}

.u-section-2 .u-group-elements-5 {
  min-height: 128px;
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-icon-5 {
  height: 78px;
  width: 78px;
  background-image: none;
  color: rgb(47, 74, 206) !important;
  margin: 0 387px 0 0;
  padding: 18px;
}

.u-section-2 .u-text-11 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.875rem;
  margin: -78px 0 0 138px;
}

.u-section-2 .u-text-12 {
  font-style: italic;
  margin: 15px 0 0 138px;
}

.u-section-2 .u-container-layout-6 {
  padding: 40px 30px;
}

.u-section-2 .u-group-elements-6 {
  min-height: 128px;
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-icon-6 {
  height: 78px;
  width: 78px;
  background-image: none;
  color: rgb(47, 74, 206) !important;
  margin: 0 387px 0 0;
  padding: 18px;
}

.u-section-2 .u-text-13 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.875rem;
  margin: -78px 0 0 138px;
}

.u-section-2 .u-text-14 {
  font-style: italic;
  margin: 15px 0 0 138px;
}

.u-section-2 .u-container-layout-7 {
  padding: 40px 30px;
}

.u-section-2 .u-group-elements-7 {
  min-height: 128px;
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-icon-7 {
  height: 78px;
  width: 78px;
  background-image: none;
  color: rgb(47, 74, 206) !important;
  margin: 0 387px 0 0;
  padding: 18px;
}

.u-section-2 .u-text-15 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.875rem;
  margin: -78px 0 0 138px;
}

.u-section-2 .u-text-16 {
  font-style: italic;
  margin: 15px 0 0 138px;
}

.u-section-2 .u-container-layout-8 {
  padding: 40px 30px;
}

.u-section-2 .u-group-elements-8 {
  min-height: 128px;
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-icon-8 {
  height: 78px;
  width: 78px;
  background-image: none;
  color: rgb(47, 74, 206) !important;
  margin: 0 387px 0 0;
  padding: 18px;
}

.u-section-2 .u-text-17 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.875rem;
  margin: -78px 0 0 138px;
}

.u-section-2 .u-text-18 {
  font-style: italic;
  margin: 15px 0 0 138px;
}

.u-section-2 .u-container-layout-9 {
  padding: 40px 30px;
}

.u-section-2 .u-group-elements-9 {
  min-height: 128px;
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-icon-9 {
  height: 78px;
  width: 78px;
  background-image: none;
  color: rgb(47, 74, 206) !important;
  margin: 0 387px 0 0;
  padding: 18px;
}

.u-section-2 .u-text-19 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.875rem;
  margin: -78px 0 0 138px;
}

.u-section-2 .u-text-20 {
  font-style: italic;
  margin: 15px 0 0 138px;
}

.u-section-2 .u-container-layout-10 {
  padding: 40px 30px;
}

.u-section-2 .u-group-elements-10 {
  min-height: 128px;
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-icon-10 {
  height: 78px;
  width: 78px;
  background-image: none;
  color: rgb(47, 74, 206) !important;
  margin: 0 387px 0 0;
  padding: 18px;
}

.u-section-2 .u-text-21 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.875rem;
  margin: -78px 0 0 138px;
}

.u-section-2 .u-text-22 {
  font-style: italic;
  margin: 15px 0 0 138px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    width: 940px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 270px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 21px;
    padding-right: 21px;
  }

  .u-section-2 .u-group-elements-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 21px;
    padding-right: 21px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 21px;
    padding-right: 21px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 21px;
    padding-right: 21px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 21px;
    padding-right: 21px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 21px;
    padding-right: 21px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 21px;
    padding-right: 21px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 21px;
    padding-right: 21px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 21px;
    padding-right: 21px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-left: 21px;
    padding-right: 21px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    width: 720px;
  }

  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2016px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.625rem;
    width: auto;
    margin-top: 40px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
    width: 340px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
  }
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url('images/financial-forecast-digital-screen-displaying-financial-forecast-with-abstract-elements-growt_980716-104142_LE_auto_x2.jpg');
}

.u-section-3 .u-sheet-1 {
  min-height: 617px;
}

.u-section-3 .u-group-1 {
  min-height: 357px;
  width: 800px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0.5;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 60px auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 15px 60px;
}

.u-section-3 .u-image-1 {
  width: 102px;
  height: 116px;
  margin: 31px auto 0;
}

.u-section-3 .u-group-elements-1 {
  width: 294px;
  min-height: 116px;
  height: auto;
  margin: 28px auto 0 15px;
}

.u-section-3 .u-text-1 {
  width: 238px;
  font-size: 1.5rem;
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  font-family: Poppins;
  width: 294px;
  margin: 13px auto 0;
}

.u-section-3 .u-group-elements-2 {
  width: 296px;
  min-height: 109px;
  height: auto;
  margin: -116px auto 0 368px;
}

.u-section-3 .u-text-3 {
  width: 238px;
  font-size: 1.5rem;
  margin: 0 auto;
}

.u-section-3 .u-text-4 {
  font-family: Poppins;
  width: 296px;
  margin: 6px auto 0;
}

@media (max-width: 1199px) {
   .u-section-3 {
    background-position: 50% 50%;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 509px;
  }

  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-group-elements-1 {
    margin-left: 16px;
  }

  .u-section-3 .u-group-elements-2 {
    margin-left: 369px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 390px;
  }

  .u-section-3 .u-group-1 {
    width: 720px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-group-elements-1 {
    margin-left: 8px;
  }

  .u-section-3 .u-group-elements-2 {
    margin-left: 357px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 293px;
  }

  .u-section-3 .u-group-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-group-elements-1 {
    margin-left: -2px;
  }

  .u-section-3 .u-group-elements-2 {
    margin-left: 207px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 184px;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
  }

  .u-section-3 .u-group-elements-2 {
    margin-left: 7px;
  }
}


html {
  height: 100%;
}

dialog {
  width: 100%;
  max-width: 450px;
  border: none;
  padding: 0;
}

.login-box {
  position: relative;
  width: 100%;
  padding: 40px;
  background: gray;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
  text-align: center;
}



.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}


.log {
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  font-weight: 600;
  width: 100%;
  padding: 10px 0;
  box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
  transition: 0.4s;
  color: rgb(104, 85, 224);
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(104, 85, 224, 1);
}

.log:hover {
  color: white;
  width:;
  box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
  background-color: rgba(104, 85, 224, 1);
}
